<header class="main-header">
  <div class="main-container">
    <div class="header-wrap">
      <div class="connection-status {{connectionStatus}}" >{{connectionStatus}}</div>
      <h1 class="main-title">Clients App v.{{version}}</h1>
      <button mat-raised-button color="accent" *ngIf="installationPrompt" (click)="installApp()">Install</button>
      <nav class="main-navigation">
        <ul>
          <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
          <li><a routerLink="/list" routerLinkActive="active">List</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="main-content">
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>
